version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: svc-notification-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notification_db
    ports:
      - "5434:5432"
    volumes:
      - notification_db_data:/var/lib/postgresql/data
    networks:
      - notification-network

  notification-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: svc-notification
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_DATABASE: notification_db
      PORT: 3003
      KAFKA_BROKERS: kafka:9092
    ports:
      - "3003:3003"
    depends_on:
      - postgres
    networks:
      - notification-network
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  notification_db_data:

networks:
  notification-network:
    driver: bridge
